<ion-header class="site-header">
  <ion-toolbar color="custom">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title start>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="home-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-row>
    <ion-col size="6">
    <ion-button color="primary" (click)="Interstitial()">INTERSTITAL</ion-button>
    </ion-col>
    <ion-col size="6">
    <ion-button color="secondary" (click)="Reward()">REWARDVIDEO</ion-button>
    </ion-col>
  </ion-row> -->

  <app-searchbar></app-searchbar>
  <app-featured-category></app-featured-category>
  <app-coupon></app-coupon>
  <app-syllabus></app-syllabus>
  <app-eligiblity></app-eligiblity>
  <app-papers></app-papers>
  <!-- <app-mocktest></app-mocktest> -->
  <app-quiz></app-quiz>
</ion-content>



