<div class="check-out-back">
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">First name <span>*</span></ion-label>
            <ion-input type="text" id="first_name" name="first_name" ngModel></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Last name <span>*</span></ion-label>
            <ion-input type="text" id="last_name" name="last_name" ngModel ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Email Address <span>*</span></ion-label>
            <ion-input type="email"  id="email" name="email" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Phone No<span>*</span></ion-label>
            <ion-input type="text" id="phone_no" name="phone_no" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Subject</ion-label>
            <ion-input type="text" id="subject" name="subject" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-textarea id="address" name="address" ngModel></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button button color="button_transparent" type="submit">
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        <ion-label>Submit</ion-label>
      </ion-button>
      
    </ion-grid>
  </form>
  <div class="contact-information">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Email</h2>
              <h3>support@avatto.com</h3>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="call-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Phone No</h2>
              <h3>022 61903305</h3>
              <h3>91-9920808017</h3>
            </ion-label>
          </ion-item>
        </ion-col>
        <!-- <ion-col size="12">
          <ion-item>
            <ion-label>
              <h2>Follow Us On</h2>
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="4">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                  </ion-col>
                  <ion-col size="4">
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                  </ion-col>
                  <ion-col size="4">
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-col> -->
        <ion-col size="12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0249124535567!2d72.8821169!3d19.106562999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c86c8eaf42c5%3A0x3b5d29afb1474d60!2s41%2C+Mittal+Industrial+Estate+Rd%2C+Mittal+Industrial+Estate%2C+Marol%2C+Andheri+East%2C+Mumbai%2C+Maharashtra+400059!5e0!3m2!1sen!2sin!4v1441950155880" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </ion-col>

        
      </ion-row>
    </ion-grid>
    
    
  </div>
</div>